<div [ngClass]="getLoadingClass()">
  <div [ngClass]="getContainerClass()">
    
    <!-- Spinner Loading -->
    <div *ngIf="type === 'spinner'" class="app-loading__spinner">
      <mat-spinner
        [diameter]="getSpinnerDiameter()"
        [strokeWidth]="getSpinnerStrokeWidth()">
      </mat-spinner>
    </div>
    
    <!-- Progress Bar Loading -->
    <div *ngIf="type === 'bar'" class="app-loading__bar">
      <mat-progress-bar 
        [mode]="indeterminate ? 'indeterminate' : 'determinate'"
        [value]="progress || 0">
      </mat-progress-bar>
    </div>
    
    <!-- Dots Loading -->
    <div *ngIf="type === 'dots'" class="app-loading__dots">
      <div class="app-loading__dot"></div>
      <div class="app-loading__dot"></div>
      <div class="app-loading__dot"></div>
    </div>
    
    <!-- Skeleton Loading -->
    <div *ngIf="type === 'skeleton'" class="app-loading__skeleton">
      <ng-content select="[slot=skeleton]"></ng-content>
      <div *ngIf="!hasSkeletonContent()" class="app-loading__skeleton-default">
        <div class="app-loading__skeleton-line app-loading__skeleton-line--title"></div>
        <div class="app-loading__skeleton-line app-loading__skeleton-line--subtitle"></div>
        <div class="app-loading__skeleton-line app-loading__skeleton-line--content"></div>
        <div class="app-loading__skeleton-line app-loading__skeleton-line--content"></div>
      </div>
    </div>
    
    <!-- Loading Message -->
    <div *ngIf="message" class="app-loading__message">
      {{ message }}
    </div>
    
  </div>
</div>