<aside class="sidebar" [class.sidebar--collapsed]="collapsed">
  
  <!-- Header Section -->
  <div class="sidebar__header">
    <div class="sidebar__logo" [class.sidebar__logo--collapsed]="collapsed">
      <mat-icon class="sidebar__logo-icon">business</mat-icon>
      <span *ngIf="!collapsed" class="sidebar__logo-text">ontop</span>
    </div>
    
    <button 
      mat-icon-button 
      class="sidebar__toggle"
      (click)="onToggleSidebar()"
      [matTooltip]="collapsed ? 'Expand sidebar' : 'Collapse sidebar'"
      matTooltipPosition="right">
      <mat-icon>{{ collapsed ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
  </div>

  <!-- Navigation Section -->
  <nav class="sidebar__nav">
    <ul class="sidebar__nav-list">
      <li 
        *ngFor="let item of navigationItems" 
        class="sidebar__nav-item"
        [class.sidebar__nav-item--active]="isActive(item.route)"
        [class.sidebar__nav-item--disabled]="item.disabled">
        
        <button 
          class="sidebar__nav-button"
          [class.sidebar__nav-button--active]="isActive(item.route)"
          (click)="onNavigate(item.route)"
          [disabled]="item.disabled"
          [matTooltip]="collapsed ? item.label : ''"
          matTooltipPosition="right"
          matRipple>
          
          <div class="sidebar__nav-icon-container">
            <mat-icon class="sidebar__nav-icon">{{ item.icon }}</mat-icon>
            
            <!-- Badge for notifications -->
            <span 
              *ngIf="item.badge && item.badge > 0" 
              class="sidebar__nav-badge"
              [class.sidebar__nav-badge--collapsed]="collapsed">
              {{ item.badge > 99 ? '99+' : item.badge }}
            </span>
          </div>
          
          <span *ngIf="!collapsed" class="sidebar__nav-label">
            {{ item.label }}
          </span>
        </button>
      </li>
    </ul>
  </nav>


  <!-- Bottom Navigation -->
  <div class="sidebar__bottom-nav">
    <ul class="sidebar__nav-list">
      <li 
        *ngFor="let item of bottomNavigationItems" 
        class="sidebar__nav-item"
        [class.sidebar__nav-item--active]="isActive(item.route)"
        [class.sidebar__nav-item--disabled]="item.disabled">
        
        <button 
          class="sidebar__nav-button"
          [class.sidebar__nav-button--active]="isActive(item.route)"
          (click)="onNavigate(item.route)"
          [disabled]="item.disabled"
          [matTooltip]="collapsed ? item.label : ''"
          matTooltipPosition="right"
          matRipple>
          
          <div class="sidebar__nav-icon-container">
            <mat-icon class="sidebar__nav-icon">{{ item.icon }}</mat-icon>
          </div>
          
          <span *ngIf="!collapsed" class="sidebar__nav-label">
            {{ item.label }}
          </span>
        </button>
      </li>
    </ul>
  </div>

</aside>